<html>
  <script src ="http://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>

<head>
      <title>Animal Information</title>>
</head>>
<body>
  <h1>CURRENT ANIMALS</h1>
  <div>{{data}}</div>

  <div>
    {% for n in data %}
    <div>{{n}}</div>
    {% endfor %}
  </div>

<!-- operations -->
<form method="POST" action="/add">
<p>Name of new computer scientist: <input type="text" name="name"> <input type="submit" value="Add"></p>
</form>

<!-- link to other pages -->
<p><a href="another"><button>Manage Trainers</button>></a></p>
<p><a href="breeder"><button>Manage Breeders</button>></a></p>
<p><a href="food"><button>Manage Food</button></a></p>
<p><a href="park"><button>Manage Park</button></a></p>
<p><a href="animalShow"><button>Manage Park</button></a></p>
</body>
</html>
